body {
    background-color: #111;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Header */
.header-icons i {
    font-size: 20px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}

/* Empty State */
.empty-state {
    text-align: center;
    margin-top: 50px;
}

.empty-state img {
    width: 100px;
}

.empty-state h2 {
    margin-top: 20px;
}

.empty-state p {
    color: #aaa;
}

/* Floating Action Button */
.add-btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Bottom Navigation */
.bottom-nav {
    background-color: #222;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    text-align: center;
    color: #888;
    font-size: 12px;
    cursor: pointer;
}

.nav-item.active {
    color: red;
}

/* Modal Styling */
.modal-content {
    background-color: #222;
    color: white;
}

.modal-header {
    border-bottom: 1px solid #444;
}

.modal-footer {
    border-top: 1px solid #444;
}

.modal button {
    background: red;
    border: none;
    color: white;
}

.modal button:hover {
    background: darkred;
}