<nav class="navbar align-items-center fixed-top" style="background-color: #3a8ace;">
    <div class="container-fluid">
        <a class="navbar-brand h1" href="#">
            <img src="img/guts.jpg" alt="Logo" width="35" height="29" class="logo d-inline-block align-text-top"> 
            StackQR
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="searchFolder()"><img src="img/icons/search.svg" alt="search" width="23" height="24"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="scanQRCode()"><img src="img/icons/qr.svg" alt="QR" width="23" height="24"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="img/icons/menu-dots-vertical.svg" alt="dots" width="23" height="24"></a>
            </li>
        </ul>
    </div>
</nav>