<!--Vista parcial de navbar-->

<nav class="navbar navbar-dark align-items-center fixed-top bg-primary">
 <div class="container-fluid ">
   <a class="navbar-brand h1" href="#">
     <img src="img/Cris.png" alt="Logo" width="35" height="29" class="logo d-inline-block align-text-top"> 
     StackQR
   </a>
   <ul class="nav justify-content-end">
     <li class="nav-item">
       <a class="nav-link" href="#"><img class="" src="img/icons/search.svg" alt="search" width="23" height="24"></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#"><img class="" src="img/icons/qr.svg" alt="QR" width="23" height="24"></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#"><img class="" src="img/icons/menu-dots-vertical.svg" alt="dots" width="23" height="24"></a>
     </li>
 </div>
 <!--Los svg se pueden cambiar de color desde su propio archivo svg-->
</nav>